.main-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Patrick Hand', cursive;
}

.add-product-button{
    background-color: #ffe45e;
    border: 2px solid #000;
    color: #000;
    padding: 0.75rem 1.5rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px; /* Bordes suaves */
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 4px 4px 0px #000; /* Sombra estilo dibujado */
    width: max-content;
}

.add-product-button:hover {
    background-color: #ffed90;
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px #000;
}

/* Products Table */
.products-table {
    margin: 1.5rem auto;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #000; /* Borde tabla dibujado */
    box-shadow: 5px 5px 0px #000; /* Sombra estilo dibujo */
}

.products-table th {
    background-color: #ffcd38;
    color: #000;
    font-size: 1rem;
    padding: 0.75rem;
    border: 2px solid #000; /* Borde dibujado */
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
}

.products-table tr:nth-child(odd) td {
    background-color: #f6f6f6;
    color: #000;
    font-size: 0.9rem;
    padding: 0.75rem;
    border: 2px solid #000;
    text-align: center;
}

.products-table td {
    background-color: #fff;
    color: #000;
    font-size: 0.9rem;
    padding: 0.75rem;
    border: 2px solid #000;
    text-align: center;
}

/* Action Buttons */
.edit-button,
.delete-button {
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #000;
    font-family: 'Patrick Hand', cursive;
}

.edit-button {
    background-color: #ffeb57; /* Amarillo */
}

.delete-button {
    background-color: #ff7070; /* Rojo suave */
}

.edit-button:hover,
.delete-button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0px #000;
}

.delete-button:hover {
    background-color: #ff5a5a; /* Rojo más oscuro */
}

.edit-button:hover {
    background-color: #fff76f; /* Amarillo más claro */
}

/* Responsive Styles */
@media (min-width: 768px) {
    .main-container {
        padding: 2rem;
    }

    .products-table {
        width: 80%;
    }

    .add-product-button {
        padding: 1rem 2rem;
    }

    .products-table th,
    .products-table td {
        padding: 1rem;
    }
}

@media (min-width: 1200px) {
    .main-container {
        padding: 3rem;
        align-items: center;
    }

    .products-table {
        width: 70%;
    }
}
